[Desktop Entry]
Name=Hypnotix
Name[he]=היפנוטיקס
Name[sr]=Хипнотикс
Comment=Watch TV
Comment[am]=ቲቪ መመልከቻ
Comment[ca]=Mirar TV
Comment[cs]=Sledovat TV
Comment[cy]=Gwylio teledu
Comment[da]=Se TV
Comment[de]=Fernsehen
Comment[el]=Δείτε τηλεόραση
Comment[es]=Ver la TV
Comment[eu]=Ikusi TB
Comment[fi]=Katso televisiota
Comment[fr]=Regarder la télévision
Comment[fr_CA]=Regarder la télévision
Comment[he]=צפיה בטלוויזיה
Comment[hi]=टीवी देखें
Comment[hr]=Gledajte TV
Comment[hu]=TV nézés
Comment[ie]=Regardar TV
Comment[it]=Guarda TV
Comment[ja]=テレビを視聴
Comment[kab]=Wali tiliẓri
Comment[kn]=ಟಿವಿ ವೀಕ್ಷಿಸು
Comment[nl]=TV kijken
Comment[pl]=Oglądaj telewizję
Comment[pt]=Ver TV
Comment[pt_BR]=Assistir TV
Comment[ro]=Privește TV
Comment[ru]=Смотреть ТВ
Comment[sr]=Гледај ТВ
Comment[sr@latin]=Gledaj TV
Comment[sv]=Se på TV
Comment[tr]=TV Seyret
Comment[uk]=Дивитися TV
Exec=hypnotix
Icon=hypnotix
Terminal=false
Type=Application
Encoding=UTF-8
Categories=AudioVideo;Video;Player;TV;
Keywords=Television;Stream;
StartupNotify=false
