[Desktop Entry]
Name=Hypnotix
Name[ar]=هيبنوتكس
Name[eo]=TeleVidilo
Name[he]=היפנוטיקס
Name[ko]=힙노틱스
Name[sr]=Хипнотикс
Comment=Watch TV
Comment[am]=ቲቪ መመልከቻ
Comment[ar]=شاهد التلفاز
Comment[be]=Глядзець тэлебачанне
Comment[bg]=Гледане на телевизия
Comment[ca]=Mirar TV
Comment[cs]=Sledovat TV
Comment[cy]=Gwylio teledu
Comment[da]=Se TV
Comment[de]=Fernsehen
Comment[el]=Δείτε τηλεόραση
Comment[eo]=Spekti televidon
Comment[es]=Ver la TV
Comment[et]=Vaata TV-d
Comment[eu]=Ikusi TB
Comment[fi]=Katso televisiota
Comment[fr]=Regarder la télévision
Comment[fr_CA]=Regarder la télévision
Comment[he]=צפיה בטלוויזיה
Comment[hi]=टीवी देखें
Comment[hr]=Gledajte TV
Comment[hu]=TV nézés
Comment[ia]=Reguardar TV
Comment[id]=Tonton TV
Comment[ie]=Regardar TV
Comment[is]=Horfa á sjónvarp
Comment[it]=Visualizzatore TV
Comment[ja]=テレビを視聴
Comment[kab]=Wali tiliẓri
Comment[kn]=ಟಿವಿ ವೀಕ್ಷಿಸು
Comment[ko]=TV 보기
Comment[la]=TV Specta
Comment[lt]=Žiūrėti TV
Comment[nl]=TV kijken
Comment[oc]=Agachar la TV
Comment[pl]=Oglądaj telewizję
Comment[pt]=Ver TV
Comment[pt_BR]=Assistir TV
Comment[ro]=Privește TV
Comment[ru]=Смотреть ТВ
Comment[sk]=Pozerať TV
Comment[sl]=Glej TV
Comment[sq]=Shiko TV
Comment[sr]=Гледај ТВ
Comment[sr@latin]=Gledaj TV
Comment[sv]=Se på TV
Comment[tr]=TV Seyret
Comment[uk]=Дивитися TV
Comment[uz]=TV ko‘rish
Comment[zh_CN]=观看电视
Exec=hypnotix
Icon=hypnotix
Terminal=false
Type=Application
Encoding=UTF-8
Categories=AudioVideo;Video;Player;TV;
Keywords=Television;Stream;
StartupNotify=false
