debian/hypnotix
debian/*debhelper*
debian/files
debian/hypnotix.substvars
usr/share/locale
usr/share/hypnotix/hypnotix.ui~
.venv
.vscode
usr/share/data
usr/lib/hypnotix/__pycache__
usr/share/glib-2.0/schemas/*.compiled